:root {
  height: 100%;
  width: 100%;
}

.wrapper {
  background-color: lightgray;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .button-wrapper {
    p {
      text-align: center;
    }
  }

  .element {
    text-align: center;
    padding-top: 50px;
    height: 70%;
    width: 50%;
    background-color: lightsalmon;
  }
}
